---
permalink: /
title: "Research Interests"
excerpt: "About"
author_profile: false
redirect_from: 
  - /about/
  - /about.html
---

<html>
<head>
    <title>Post-Doctoral Research Positions Opening</title>
    <style>
        .project {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .project-description {
            display: none;
        }
    </style>
</head>
<body>
<div>
  <h2>Description</h2>
    <p>We are seeking 4-5 outstanding post-doctoral researchers to join our team for a duration of 2 years, with the earliest possible starting time in October 2024. The research topics will revolve around the advanced characterization of energy storage materials and devices.</p>
  <h2>Who we are & What we do</h2>
    <p>The Energy Materials and Devices Research Cluster (EMDRC) represents a unique collaboration between leading researchers and educators from Tsinghua University (Shenzhen), Great Bay University (Dongguan) and industry collaborators. This cluster aims to advance the frontiers of energy science and technology through innovative research, cutting-edge education, and impactful industrial partnerships.</p>
    <h3>Team Members</h3>
    <p>The cluster boasts a highly complementarity team of professors who are pioneers in their respective fields. </p>
    <h3>Research Focus</h3>
    <p>The research focus of the Energy Materials and Devices Cluster is broad but deeply rooted in the development of novel materials and devices for sustainable energy applications. The team explores a wide range of topics including, but not limited to, advanced battery technologies, solar energy conversion, fuel cells, thermoelectric materials, and hydrogen storage. The goal is to develop materials and devices that are not only efficient but also environmentally friendly and cost-effective.</p>
    <h3>Collaborative Approach</h3>
    <p>The cluster embraces a collaborative approach, leveraging the strengths of both institutions. Great Bay University's emphasis on applied research and industry partnerships complements Tsinghua's deep foundation in theoretical research and technology transfer. Together, the team conducts interdisciplinary research projects, shares resources, and collaborates on educational programs to foster a new generation of energy scientists and engineers.</p>
    <h3>Industry Partnerships</h3>
    <p>Recognizing the importance of industry collaboration, the cluster actively seeks partnerships with leading energy companies and startups. These partnerships not only provide access to cutting-edge facilities and expertise but also create opportunities for joint research projects, technology transfer, and commercialization of research outcomes.</p>
  <h2>Compensation & Perks</h2>
    <p>We offer internationally competitive salaries and benefits, along with a travel grant designed to foster collaboration and interaction with young scientists from around the globe. The annual salary before tax is 600,000 RMB (~83,000 USD). Benefits include generous housing allowance and comprehensive insurance coverage.</p>
  <h2>Application Process</h2>
    <p>Interested candidates are welcome to submit a cover letter outlining their research background and preferred topic of interest (see below topic descriptions), together with a CV including the publication record. Application materials should be sent to Dr. Kun Qian ( kqian@gbu.edu.cn )
If your application is deemed suitable for the position, we will request a one-page research proposal, three recommendation letters, and schedule an online interview.</p>
</div>

<h1>Avaiable Positions</h1>
<ul>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</ul>

</html>


