---
permalink: /
title: "Research Interests"
excerpt: "About"
author_profile: false
redirect_from: 
  - /about/
  - /about.html
---

<html>
<head>
    <title>Research Interests</title>
    <style>
        .project {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .project-description {
            display: none;
        }
    </style>
</head>
<body>
<div>
    <p>Research area. </p>
</div>

<h1>Opening postdoctoral positions</h1>
<ul>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</ul>

</html>


