---
permalink: /
title: "Post-Doctoral Research Positions Opening"
excerpt: "About"
author_profile: false
redirect_from: 
  - /about/
  - /about.html
---

<html>
<head>
    <title>Post-Doctoral Research Positions Opening</title>
    <style>
        .project {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .project-description {
            display: none;
        }
    </style>
</head>
<body>
<div>
  <h2>Description</h2>
    <p>We are seeking 4-5 outstanding post-doctoral researchers to join our team for a duration of 2 years, with the earliest possible starting time in October 2024. The research topics will revolve around the advanced characterization of energy storage materials and devices.</p>
  <h2>Who we are & What we do</h2>
    <p>The Energy Materials and Devices Research Cluster represents a unique collaboration between researchers from Tsinghua University (Shenzhen), Great Bay University (Dongguan) and industry collaborators. The cluster embraces a collaborative approach, leveraging the strengths of both institutions. Together, the team conducts interdisciplinary research projects, shares resources, and collaborates on programs to foster a new generation of scientists. </p>
    <p>This cluster aims to advance the frontiers of energy science and technology through innovative research, cutting-edge education, and impactful industrial partnerships.</p>
    <h3>Team Members</h3>
      <ul>
        <li>Prof. Baohua Li, Tsinghua University (CV)</li>
        <li>Prof. Ming Liu, Tsinghua University (CV)</li>
        <li>Prof. Kun Qian, Great Bay University (CV)</li>
        <li>Prof. Feiyu Kang, Tsinghua University (Senior Academic Advisor, CV) </li>
      </ul>
    <h3>Facilities and Resources</h3>
    <p>Tsinghua University is recognized as a top-tier university in China (ranked #25 globally in QS 2024). Tsinghua University has a rich history and a stellar reputation for its excellence in education and research. Shenzhen International Graduate School (SIGS) of Tsinghua University is the only campus out of Beijing. Shenzhen, as a vibrant south-China metropolis, has become a hub for talent, technology, and capital, attracting numerous students and researchers from all over the world to pursue their academic goals. </p>
    <p>Great Bay University is a newly established institution situated in Dongguan, a city that is just one-hour's drive from the SIGS campus. Dongguan is rapidly emerging as a scientific hub, boasting large scientific facilities such as the China Spallation Neutron Source (CSNS), the Advanced Attosecond Laser Facility with 8 Beamlines, and the South-China Synchrotron X-ray Facility (In planning). These facilities will support the study of atomic, molecular, and crystalline structures, as well as ultrafast dynamics. Great Bay University strives to become a top-tier, research-intensive institution focused on advancements in science, technology, and engineering. Given this ambitious vision, Great Bay University is poised to play a crucial role in fostering educational collaborations and technological innovations within the Guangdong-Hong Kong-Macao Greater Bay Area. </p>
    <p>The Energy Materials and Devices Research Cluster self-own world-class facilities dedicated to materials science research, encompassing an Aberration-corrected Transmission Electron Microscope with cryo-TEM capabilities and in-situ heating functionality, two general TEM instruments，three SEM with in-situ ability，three In-situ XRD system, an In-situ AFM system for battery research, two In-situ Raman systems, two XPS systems with in-situ ability, FIB, TOF-SIMS, and many others, the total value over 150 million RMB, see details here. Besides, our research cluster have access to advanced X-ray/Neutron facilities at Dongguan, Beijing and Shanghai, and supercomputer clusters nearby.</p>
    <h3>Industry Partnerships</h3>
    <p>Recognizing the importance of industry collaboration, our research cluster actively seeks partnerships with leading energy companies and startups, such as Huawei, BYD, CATL and others in the supply chain of electric vehicle industry. Most of them are local companies in Dongguan and Shenzhen cities. These partnerships not only provide access to cutting-edge facilities and expertise but also create opportunities for joint real-world R&D projects, technology transfer, and commercialization of research outcomes.</p>
    <h3>Compensation & Perks</h3>
    <p>We offer internationally competitive salaries and benefits, along with a travel grant designed to foster collaboration and interaction with young scientists from around the globe. The annual salary before tax is 600,000 RMB (~83,000 USD). Benefits include generous housing allowance and comprehensive insurance coverage.</p>
    <h3>Application Process</h3>
    <p>Interested candidates are welcome to submit a cover letter outlining their research background and preferred topic of interest (see below topic descriptions), together with a CV including the education background and publication record. </p>
    <p>The candidate must be under 35 years old and have obtained a doctoral degree for no more than 3 years.</p>
    <p>Application materials should be sent to Dr. Kun Qian ( kqian@gbu.edu.cn )</p>
    <p>If your application is deemed suitable for the position, we will contact you to request a one-page research proposal, three recommendation letters, and to arrange an online interview.</p>
</div>

<h1>Avaiable Positions</h1>
<ul>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</ul>

</html>


